.naw {
    background-color: rgb(35, 89, 126);
    text-align: center;
    height: 100px;
    margin-top: -25px;
}

.ha {
    padding-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 30% 70%;
}

.item1 {
    background-color: rgb(48, 120, 168);
    text-align: center;
    height: 104%;
}
.i1 {
    margin-top: 50%;
}

img {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
}

.par {
    text-align: center;
    margin-bottom: -50px;
}

.foo {
    background-color: yellow;
    text-align: center;
}